@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

:root {
  /* PALETTE */
  --darkest-brown: #402920;
  --light-brown: #c6ac92;
}

body {
  background-color: #f0e7de;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

/* --------- NAV ---------  */

nav {
  background-color: var(--light-brown);
  box-shadow: 0px 0px 10px -1px var(--darkest-brown);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo-svg {
  width: 50px;
  filter: invert(0%) sepia(9%) saturate(1977%) hue-rotate(331deg)
    brightness(85%) contrast(88%);
}

.logo-text {
  font-size: 46px;
  font-weight: 600;
  color: var(--darkest-brown);
}

.open-modal-btn {
  background-color: var(--darkest-brown);
  color: #f0e8e0;
  font-weight: 600;
  font-size: 20px;
  padding: 16px;
  border-radius: 10px;
  outline: none;
  border: none;
}

/* --------- MAIN --------- */

main {
  padding-top: 50px;
}

#grid-header {
  padding-bottom: 16px;
  color: var(--darkest-brown);
  font-size: 30px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 260px;
  gap: 26px;
}

.book {
  position: relative;
  color: var(--darkest-brown);
  border-radius: 10px;
  background-color: var(--light-brown);
  box-shadow: 0px 0px 10px -1px var(--darkest-brown);
  /* max-width: 380px; */
}

.remove-card {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 15px;
  font-weight: 700;
  background-color: transparent;
  color: var(--darkest-brown);
  border: none;
  border-radius: 65px;
  outline: none;
}

.book-container {
  width: 80%;
  height: 85%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title-author {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.book-author {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
}

.read-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.pages {
  font-style: italic;
  text-align: center;
  padding-bottom: 8px;
}

.isRead-btn {
  width: 140px;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  transition: background-color 0.15s ease-in-out;
}

.isRead-btn-green {
  background-color: #00a753;
}
.isRead-btn-green:hover {
  background-color: #008f47;
}

.isRead-btn-red {
  background-color: #c40f08;
}
.isRead-btn-red:hover {
  background-color: #a10d08;
}

/* --------- MODAL --------- */

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  background-color: var(--light-brown);
  border-radius: 20px;
  width: fit-content;
  padding: 20px;
  width: 300px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.modal-header {
  color: #402920;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 15px;
}

.modal-input {
  font-size: 20px;
  padding: 16px;
  width: 270px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #f0e7de;
  color: var(--darkest-brown);
}

.is-read {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.isReadModal {
  width: 20px;
  height: 20px;
  accent-color: var(--darkest-brown);
}

.modal-btn {
  background-color: var(--darkest-brown);
  color: #f0e8e0;
  font-weight: 600;
  width: 100%;
  font-size: 20px;
  padding: 16px;
  border-radius: 10px;
  outline: none;
  border: none;
}
